<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CareTakerApp"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddPatientActivity"
            android:exported="true"/>
        <activity
            android:name=".Register"
            android:exported="true"/>
        <activity
            android:name=".DashboardActivity"
            android:exported="true"/>
        <activity
            android:name=".AddMedicineReminderActivity"
            android:exported="true"/>

        <activity
            android:name=".ViewPatientActivity"
            android:exported="true"/>

        <activity
            android:name=".SendMessageActivity"
            android:exported="true"/>


        <activity
            android:name=".EmergencyActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Foreground Service for Emergency Alert -->
        <service
            android:name=".EmergencyAlertService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection"/>

        <service
            android:name=".MessageNotificationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection"/>

        <receiver android:name=".NotificationReceiver" android:enabled="true" android:exported="false"/>





    </application>

</manifest>